.container-landing{
   background-image: url('../../img/landing2.jpg');
   background-size: cover;
   height: 870px;
}

.landing-header{ 
    color: black;
}

.wrapper {
    text-align: center;
}

.title {
    font-size: 3em;
    position: relative;
    margin: 0 auto 1em;
    padding: 1em 1em .25em 1em;
    text-align: center;
    text-transform: uppercase;
    display: inline-flex;
    margin-top: 0%;
    font-weight: 500
}
.title:after {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 240px;
    height: 4px;
    margin-left: -120px;
    content: '';
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(167, 47, 47));
}

.logo2 {
  width: 17%;
  margin-left: -8%;
  margin-top: 110px;
  display: inline-flex;
}

.logo3 {
    display: inline-flex;
    margin-top: 24%;
    width: 15%;
}

.logo4 {
    margin-left: 34%;
    width: 13%;
}

.container{
color: #000;
}

.div-buton {
  display: inline-block;
  margin-top: 15%;
  margin-left: 10px;
}

button {
  position: relative;
  display: inline-flex;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  margin-top: -295px;
  margin-left: 0%;
}
 
 button.learn-more {
  width: 11rem;
 }
 
 button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
 }
 
 button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
 }
 
 button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
 }
 
 button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
 }
 
 button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 900;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
 }
 
 button:hover .circle {
  width: 100%;
 }
 
 button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
 }
 
 button:hover .button-text {
  color: #fff;
 }

 .img-div{
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin-top: -245px;
  margin-left: 8%;
  width: 92%;
}
 
 